<app-toolbar></app-toolbar>
<div>
    <mat-toolbar fxLayout="column" fxLayoutAlign="space-around center">
        <span>Forgot Password</span>
    </mat-toolbar>
</div>

<div class="forgot-container">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-content>
                <div class="forgot-card" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput [formControl]="email" [(ngModel)]="emailId" required>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onForgot()" color="primary">SUBMIT</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>