<div>
    <div fxLayout="{{direction}} wrap" fxLayoutAlign=" center" class="side"
        [ngClass]="direction === 'row' ? 'row-content': 'column-content'">
        <div *ngFor="let note of notes">
            <mat-card class="matcard1" [ngClass]="direction === 'row' ? 'grid-mat-card': 'list-mat-card'"
                [ngStyle]="{'background-color': note.color}">
                <div (click)="onUpdate(note)">
                    <div class="title">
                        <textarea class="text title-font" [ngStyle]="{'background-color': note.color}" matInput
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" disabled>{{note.title}}
                                </textarea>
                    </div>
                    <div class="description">
                        <textarea class="text description-font" [ngStyle]="{'background-color': note.color}" matInput
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" disabled>{{note.description}}
                                </textarea>
                    </div>
                </div>
                <div *ngIf="note.reminder!=null" class="chip-list">
                    <mat-chip-list>
                        <mat-chip [ngStyle]="{'background-color': note.color}">
                            <mat-icon class="time-icon">access_times</mat-icon>
                            {{note.reminder | date:'EEE MMM d, y, h:mm a'}}
                            <mat-icon matChipRemove (click)="onRemoveReminder(note)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="icon-toolbar">
                    <div>
                        <app-icons [noteInfo]=note></app-icons>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>