<!-- <app-display-notes [notes]="trashNotes"></app-display-notes> -->
<div>
    <div fxLayout="{{direction}} wrap" fxLayoutAlign=" center" class="side"
        [ngClass]="direction === 'row' ? 'row-content': 'column-content'">
        <div *ngFor="let note of trashNotes; let tempId = index;">
            <mat-card class="matcard1" [ngClass]="direction === 'row' ? 'grid-mat-card': 'list-mat-card'"
                [ngStyle]="{'background-color': note.color}">
                <div>
                    <div class="title">
                        <textarea class="text title-font" [ngStyle]="{'background-color': note.color}" matInput
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" disabled>{{note.title}}
                                </textarea>
                    </div>
                    <div class="description">
                        <textarea class="text description-font" [ngStyle]="{'background-color': note.color}" matInput
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" disabled>{{note.description}}
                                </textarea>
                    </div>
                </div>
                <div class="icon-toolbar">
                    <div>
                        <button mat-icon-button  [matMenuTriggerFor]="menu_delete"><mat-icon>more_vert</mat-icon></button>
                    </div>
                </div>
            </mat-card>
            <mat-menu #menu_delete="matMenu" style="width: 280px;">
                <div>
                    <div>
                        <button  mat-menu-item (click)="onDelete(note, tempId)">Delete Forever</button>
                    </div>
                    <div>
                        <button mat-menu-item (click)="onRestore(note)">Restore</button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
</div>