<app-toolbar></app-toolbar>
<div>
    <mat-toolbar fxLayout="column" fxLayoutAlign="space-around center">
        <span>Login</span>
    </mat-toolbar>
</div>

<div class="login-container">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card-content>
                <div class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput [formControl]="email" [(ngModel)]="login.emailId" required>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>


                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onLogin()" color="primary">LOGIN</button>
            </mat-card-actions>
            <a routerLink="/forgotpassword">Forgot Password?</a>
        </div>
    </mat-card>
</div>