<app-toolbar></app-toolbar>
<div>
    <mat-toolbar fxLayout="column" fxLayoutAlign="space-around center">
        <span>Set a new password</span>
    </mat-toolbar>
</div>

<div class="reset-container">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="space-around center">

            <mat-card-content>
                <div class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="reset.password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="reset.confirmPassword"
                            required>
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onReset()" color="primary">RESET</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>