<div [ngStyle]="{'background-color': fullNote.note.color}">
    <div>
        <form>
            <div class="title">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10" class="textarea title-font" placeholder="Title" [formControl]="title"
                    [(ngModel)]="fullNote.note.title" autocomplete="off"
                    [ngStyle]="{'background-color': fullNote.note.color}"></textarea>
            </div>
            <div class="description">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="15" class="textarea description-font" placeholder="Note"
                    [formControl]="description" [(ngModel)]="fullNote.note.description" autocomplete="off"
                    [ngStyle]="{'background-color': fullNote.note.color}"></textarea>
            </div>



            <div *ngIf="fullNote.note.reminder!=null" class="chip-list">
                <mat-chip-list>
                    <mat-chip [ngStyle]="{'background-color': fullNote.note.color}">
                        <mat-icon class="time-icon">access_times</mat-icon>
                        {{fullNote.note.reminder | date:'EEE MMM d, y, h:mm a'}}
                        <mat-icon matChipRemove (click)="onRemoveReminder(fullNote.note)">close</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div fxLayout="row wrap" class="chip-list">
                <mat-chip-list #chipList>
                    <div *ngFor="let label of fullNote.note.labels; let tempId = index;">
                        <mat-chip [ngStyle]="{'background-color': fullNote.note.color}"
                            routerLink="../labels/{{label.labelName}}">
                            {{label.labelName}}
                            <mat-icon matChipRemove (click)="removeLabelFromNote(label, fullNote.note, tempId)">close
                            </mat-icon>
                        </mat-chip>
                    </div>
                </mat-chip-list>
            </div>



            <div style="margin: 4px 4px 0;" flexLayout="row" fxLayoutAlign="space-between center">
                <div class="appicons">
                    <app-icons [noteInfo]="fullNote" (updatedEvent)="fullNote.note = $event"></app-icons>
                </div>
                <div>
                    <button class="close-button" type="button" mat-button [mat-dialog-close]="fullNote"
                        (click)="onClose()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>